html {
  font-size: 62.5%;
  /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'nav header header'
    'nav main main'
    'nav footer footer';
  grid-template-columns: 20rem 4fr;
  grid-template-rows: 7rem 1fr 7rem;
  height:  100vh;

}

header {
  width: 100%;
  grid-area: header;
  background-color: #203040;
}

nav {
  grid-area: nav;
  background-color: #203040;
}

main {
  grid-area: main;
  padding: 1.1rem;
}

footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
}

@media (max-width: 599px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1 1fr 6rem;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
}